<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vacation Booking Confirmation</title>
  <link href="/styles/styles.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/6350271.png">
  <script src="/js/vacation.js" defer ></script>
</head>
<body>
  <main>
    <header>
      <div id="overlay">
        <img src="https://bit.ly/305-vacation" alt="picture of a beach">
        <div id="text-overlay">Happy Travels!</div>
      </div>

      <h1>Thank you for your request!</h1>
    </header>
  </main>
</body>
</html>
